<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Eletriza</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                <a class="nav-link active" aria-current="page" [routerLink]="['/login']">Login</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" [routerLink]="['/cadastro']">Cadastro</a>
                </li>
            </ul>
            </div>
        </div>
        </nav>
    </header>  
    <main class="form-signin w-100 m-auto">
        <form class="formulario" >
        <img class="mb-4 imagem" src="https://instagram.fcgh15-1.fna.fbcdn.net/v/t51.2885-15/300969071_580984800172208_9182929200142584013_n.jpg?stp=dst-jpg_e15_s480x480&_nc_ht=instagram.fcgh15-1.fna.fbcdn.net&_nc_cat=108&_nc_ohc=OWjWw7UKe14AX_UnXb_&edm=ABJHkxYAAAAA&ccb=7-5&ig_cache_key=MjkxMzAyNzI1MTM3NDE1MTYxOQ%3D%3D.2-ccb7-5&oh=00_AT-Fkl9jcPZPd1BNaa699RqN23NbdKYdyDbI0J4jSNDcJQ&oe=630E1FFB&_nc_sid=fa978c" alt="" width="80" height="80" >
        <h1 class="h3 mb-3 fw-normal">Cadastro para Contato</h1>
    
        <div class="form-floating">
            <input type="text" name="nome"  [(ngModel)]="contato.nome" class="form-control"  id="floatingInput"placeholder="Nome Completo">
            <label for="floatingInput">Nome</label>
        </div>
        <div class="form-floating">
            <input type="email" name="email" [(ngModel)]="contato.email" class="form-control" placeholder="name@example.com">
            <label for="floatingInput" >E-mail</label>
        </div>
        <div class="form-floating">
            <input type="number" name="numero" [(ngModel)]="contato.numero" class="form-control"  placeholder="Número de Celular">
            <label for="floatingInput">Número</label>
        </div>
        <div class="form-floating">
            <input type="text" name="nomedaempresa" [(ngModel)]="contato.nomedaempresa" class="form-control"  placeholder="Número da Empresa">
            <label for="floatingInput">Nome da Empresa</label>
        </div>
        
        <button class="w-100 btn btn-lg btn-primary" *ngIf="this.contatoId === 0" (click)="Cadastrar()">Cadastrar</button>
        <button class="w-100 btn btn-lg btn-primary" *ngIf="this.contatoId > 0" (click)="Atualizar()">Atualizar</button>

        </form>
    </main>
</body>