

body {
  height: 100%;
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.imagem
{
  box-shadow: 5px 7px 7px 2px rgba(255, 0, 0, 0.4);
  border-radius: 50%;
}
nav
{
  box-shadow: 4px 7px 7px 2px rgba(255, 0, 0, 0.5);
}