

body {
    height: 100%;
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  
  .form-signin {
    position: relative;
    align-items: center;
    max-width: 400px;
    padding: 15px;
  }
  
  .form-signin .form-floating:focus-within {
    z-index: 2;
  }
  
  .form-signin input[type="text"] {
    margin-bottom: 1px;
    border-radius: 5px;
    border-radius: 5px;
  }
  
  .form-signin input[type="number"] {
    margin-bottom: 1px;
    border-radius: 5px;
    border-radius: 5px;
  }
  .form-signin input[type="email"] {
    margin-bottom: 1px;
    border-radius: 5px;
    border-radius: 5px;
  }
  .imagem
  {
    right: -140px;
    justify-content: center;
    position: relative;
    align-items: center;
    box-shadow: 5px 7px 7px 2px rgba(255, 0, 0, 0.4);
    border-radius: 50%;
  }
  nav
  {
    box-shadow: 4px 7px 7px 2px rgba(255, 0, 0, 0.5);
  }
  .h3
  {
    position: relative;
   align-items: center;
   justify-content: center;
   left: 50px;
  }