<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Eletriza</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/sign-in/">


    
    <!-- Custom styles for this template -->
    <link href="login.component.css" rel="stylesheet">
</head>
<body class="text-center">
  <header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Eletriza</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav me-auto mb-2 mb-md-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" [routerLink]="['/login']">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Cadastro</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>  
<main class="form-signin w-100 m-auto">
  <form class="formulario">
    <img class="mb-4 imagem" src="https://instagram.fcgh15-1.fna.fbcdn.net/v/t51.2885-15/300969071_580984800172208_9182929200142584013_n.jpg?stp=dst-jpg_e15_s480x480&_nc_ht=instagram.fcgh15-1.fna.fbcdn.net&_nc_cat=108&_nc_ohc=OWjWw7UKe14AX_UnXb_&edm=ABJHkxYAAAAA&ccb=7-5&ig_cache_key=MjkxMzAyNzI1MTM3NDE1MTYxOQ%3D%3D.2-ccb7-5&oh=00_AT-Fkl9jcPZPd1BNaa699RqN23NbdKYdyDbI0J4jSNDcJQ&oe=630E1FFB&_nc_sid=fa978c" alt="" width="80" height="80" >
    <h1 class="h3 mb-3 fw-normal">Login Admin</h1>

    <div class="form-floating">
      <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
      <label for="floatingInput">E-mail</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
      <label for="floatingPassword">Senha</label>
    </div>

    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Lembre-se de mim
      </label>
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Acessar</button>
  </form>
</main>
  </body>
</html>
