<link href="login.component.css">
<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <div class="container-fluid">
      <a class="navbar-brand" href="#">Carousel</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
          <a class="nav-link active"  [routerLink]="['/login']" aria-current="page">Login</a>
          </li>
          <li class="nav-item">
          <a class="nav-link">Cadastro</a>
          </li>
      </ul>
      </div>
  </div>
  </nav>
</header>

<form action="action_page.php" method="post">
    <div class="imgcontainer">
    <img src="/src/assets/eletre.png" alt="Avatar" class="avatar">
    <!-- <img src="/src/assets/eletre.png" alt="Avatar" class="avatar" width=60 height=40> -->
    </div>
  
    <div class="container">
      <label for="uname"><b>EMAIL</b></label>
      <input type="text" placeholder="Enter Username" name="uname" required>
  
      <label for="psw"><b>SENHA</b></label>
      <input type="password" placeholder="Enter Password" name="psw" required>
  
      <button type="submit">Login</button>
      <label>
        <input type="checkbox" checked="checked" name="remember"> Remember me
      </label>
    </div>
  
    <div class="container" style="background-color:#f1f1f1">
      <button type="button" class="cancelbtn">Cancel</button>
      <span class="psw">Forgot <a href="#">password?</a></span>
    </div>
  </form>