
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Eletriza</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/carousel/">

    
    <!-- Custom styles for this template -->
    <link href="inicio.component.css" rel="stylesheet">
  </head>
  <body>
    
<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark" id="navbar">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Eletriza</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" [routerLink]="['/login']">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" [routerLink]="['/caroussel']">Carousel</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" href="footer">Cadastro</a>
          </li> -->
        </ul>
      </div>
    </div>
  </nav>
</header>

<main>

  <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <svg class="bd-placeholder-img" width="100%" height="100%"  aria-hidden="true" focusable="false"><rect width="100%" height="100%" fill=""/></svg>

        <div class="container">
          <div class="carousel-caption text-start">
            <h1>Primeiro Teste de Carousel.</h1>
            <p>Tentando arrumar e descobrir como transitar nas imagens do carousel com typescript.</p>
            <p><a class="btn btn-lg btn-primary" href="#">EM BREVE</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <svg class="bd-placeholder-img" width="100%" height="100%"  aria-hidden="true" focusable="false"><rect width="100%" height="100%" fill="rgb(2,0,36)"/></svg>

        <div class="container">
          <div class="carousel-caption">
            <h1>Another example headline.</h1>
            <p>Some representative placeholder content for the second slide of the carousel.</p>
            <p><a class="btn btn-lg btn-primary" href="#">Learn more</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <svg class="bd-placeholder-img" width="100%" height="100%"  aria-hidden="true" focusable="false"><rect width="100%" height="100%" fill="rgb(2,0,36)"/></svg>

        <div class="container">
          <div class="carousel-caption text-end">
            <h1>One more for good measure.</h1>
            <p>Some representative placeholder content for the third slide of this carousel.</p>
            <p><a class="btn btn-lg btn-primary" href="#">Browse gallery</a></p>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>



  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/2048px-Angular_full_color_logo.svg.png" width="140" height="140">  
        <h2 class="fw-normal">Imagem</h2>
        <p>EM PLANEJAMENTO...</p>
        <p><a class="btn btn-secondary" href="#angular">Angular &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img src="https://assets.stickpng.com/images/613b64fe30e8530004ba3a03.png" width="140" height="140">
        <h2 class="fw-normal">Imagem</h2>
        <p>EM PLANEJAMENTO...</p>
        <p><a class="btn btn-secondary" href="#javascript">Javascript &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img src="https://www.alura.com.br/artigos/assets/html-css-js/imagem-1.png" width="140" height="140">
        <h2 class="fw-normal">Imagem</h2>
        <p>EM PLANEJAMENTO...</p>
        <p><a class="btn btn-secondary" href="#html">Html &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider-one">

    <div class="row featurette" id="angular">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">Descrição minusciosa. <span class="text-muted">Angular</span></h2>
        <p class="lead">Descrição elaborada.</p>
      </div>
      <div class="col-md-5">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/2048px-Angular_full_color_logo.svg.png" width="500" height="500">  

      </div>
    </div>

    <hr class="featurette-divider" id="javascript">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading fw-normal lh-1">Descrição minusciosa.<span class="text-muted">Javascript</span></h2>
        <p class="lead">Descrição elaborada.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img src="https://assets.stickpng.com/images/613b64fe30e8530004ba3a03.png" width="500" height="500">
      </div>
    </div>

    <hr class="featurette-divider" id="html">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">Descrição minusciosa.<span class="text-muted">html</span></h2>
        <p class="lead">Descrição elaborada.</p>
      </div>
      <div class="col-md-5">
        <img src="https://www.alura.com.br/artigos/assets/html-css-js/imagem-1.png" width="500" height="500">
      </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->


  <!-- FOOTER -->
  <footer class="container">
    <p class="float-end"><a href="#">Back to top</a></p>
    <p>&copy; 2017–2022 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
  </footer>
</main>


    <script src="./tentativa.js"></script>

      
  </body>
</html>
