body {
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: #100c0c;
  }
.container{
    justify-content: center;
    align-content: center;
    position: relative;
    width: 100%;
    height: 600px;
    padding: 0;
    margin: 1;
    border: 1px solid black;
}
th{
    padding: 15px;
}
mat-sidenav{
 width: 160px;   
}
.butao{
    width: 100%;
}
nav
{
    height: 50px;
  box-shadow: 4px 7px 7px 2px rgba(255, 0, 0, 0.5);
}